<addnames (addName)="optimisticAdd($event)" (addNamePs)= "pasemisticAdd()"  ></addnames>
<h2>
  Products list
</h2>

<ul class="list-group">
 
  <li  class="list-group-item" *ngFor = "let key of productsKeys">
    <strong>Product:</strong> {{products[key].name}}<br><strong>Price:</strong> {{products[key].price}} <br> 
      <button class="btn btn-warning" [routerLink] = "['/edit-product', key]">Edit</button>
      <button type="button" class="btn btn-danger" (click)="deleteUser(key)">Delete</button>
    
  </li>
