
<form  [formGroup] = "addname" (ngSubmit) = "sendData()" >
  
   <div>
       <label for="name">Name</label>
       <input type="text" name = "name" id = "name" class = "form-control" formControlName = "name"  >
       
  </div>
   <br> <br>
   
   
   
   <div>
    <label for="price">Price</label>
    <input type="text" name = "price" id = "price" class = "form-control" formControlName = "price" >
    
  </div>

  

  <input type="submit" [disabled]= !addname.valid  value = "Add new name"  class = "btn btn-primary" id="leftbutton"> 
  </form>