ul {
    list-style-type: none;
    margin: 0;
    padding: 100;
      
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(250, 215, 195);
}

.active {
    background-color: rgb(177, 216, 238);
}