<nav class="nav-bar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">

      <li routerLinkActive = "active current"> <a routerLink="/products"><strong>Products</strong></a></li>
        <li routerLinkActive = "active current"> <a routerLink="/login"><strong>Login</strong></a></li>
         <li routerLinkActive = "active current"> <a routerLink="/productsf"><strong>Firebase</strong></a></li>
           <li routerLinkActive = "active current"> <a routerLink="/app-search-results"><strong>Search results</strong></a></li>
    </ul>
  </div>
</div>
</nav>  