
<form [formGroup] = "addname" (ngSubmit) = "sendData()">
  
   <div>
       <label for="name">Name</label>
       <input type="text" name = "name" id = "name" class = "form-control" 
       formControlName = "name" value="{{user?.name}}" [(ngModel)]="name">
  </div>
   
   <div>
    <label for="price">Price</label>
    <input type="text" name = "price" id = "price"  class = "form-control"  
    formControlName = "price" value="{{user?.price}}" [(ngModel)]="price">
  </div>

  
  <input type="submit" value = "update" class = "btn btn-primary"> 
  </form>
